[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_extra_args='-o ControlMaster=auto -o ControlPath=/tmp/%h-%p-%r.sock -o StrictHostKeyChecking=no'

{% for inventory in inventories %}
[{{ inventory.name }}:children]
{% for group in inventory.groups %}
{{ group.name }}
{% endfor %}

{% for group in inventory.groups %}
[{{ group.name }}]
  {% for hostname, ip in group.hosts.items() %}
    {{ hostname }} ansible_host={{ ip -}}
    {% if group.extra %}
      {% for key, value in group.extra.items() %}
        {{ key }}={{ value -}}
      {% endfor %}
    {% endif %}

  {% endfor %}

{% endfor %}

{% endfor %}
