[all:vars]
ansible_python_interpreter=/usr/bin/python3

{% for server in servers  %}
[{{ server.name }}]
  {% for hostname, ip in server.hosts.items() %}
    {{ hostname }} ansible_host={{ ip -}}
    {% if server.extra %}
      {% for key, value in server.extra.items() %}
        {{ key }}={{ value -}}
      {% endfor %}
    {% endif %}

  {% endfor %}

{% endfor %}
